<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/footer.css">
    <script src="https://kit.fontawesome.com/a104e5a0a9.js" crossorigin="anonymous"></script>
    <title>Mercado Liebre</title>
</head>

<body>

    <header class="main-header">
        


     <div class="main-header-top-bar">
        
        <img src="/images/logo-mercado-liebre.svg" class="logo">
        <div class="searchbar">
            <input type="search" placeholder="Buscar productos, marcas">
            <button><i class="fas fa-search"></i></button>
        </div> 
        <h2 class="copy-header">
            <i class="fa-solid fa-hand-holding-dollar"></i>
            Compra en cuotas y sin tarjeta de crédito</h2>
     </div>


         
     <a href="#" class="hamburguer-button">
        <i class="fa-solid fa-bars"></i>
     </a>

     <div class="main-header-bottom-bar">
        <ul class="left-navbar">
            <li> <a href="#">Ofertas</a></li>
            <li> <a href="#">Tiendas Oficiales</a></li>
            <li> <a href="#">Vender</a></li>
            <li> <a href="#">Ayuda</a></li>
        </ul>

        <ul class="right-navbar">
            <li><a href="">Creá tu cuenta <i class="fa-regular fa-address-card"></i></a></li>
            <li><a href="">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
            <li><a href="">Mis Compras <i class="fa-solid fa-basket-shopping"></i></a></li>
        </ul>
    </div>
    </header>
    <main>
        <ul>
           <li>
               
               <b>Sección: Basado en tu última visita </b>
           </li> 
        </ul>
        <div class="contenedor-product">
            <article class="product">
                <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera">
                <div class="box-precios">
                <div class="product-desc-box">
                    <div class="product-delivery-icon">
                        <i class="fas fa-truck" style="color: #41ae4a"></i>
                    </div>
                        <p class="precios">$6.770</p>
                        <p  class="descuento">40% off</p>
                        <p class="descripcion">Cafetera Moulinex</p>
                    </div>
                </div>
                    
            </article>

            <article class="product">
                <img src="images/img-macbook-pro-2019.jpg" alt="macbook">
                <div class="box-precios">
                <div class="product-desc-box">
                    <div class="product-delivery-icon">
                        <i class="fas fa-truck" style="color: #41ae4a"></i>
                    </div>
                        <p class="precios">$230.000</p>
                        <p  class="descuento">20% off</p>
                        <p class="descripcion">MacBook Pro 2019</p>
                    </div>
                </div>
                    
            </article>

            <article class="product">
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="">
                <div class="box-precios">
                <div class="product-desc-box">
                    <div class="product-delivery-icon">
                        <i class="fas fa-truck" style="color: #41ae4a"></i>
                    </div>
                        <p class="precios">$70.500</p>
                        <p  class="descuento">10% off</p>
                        <p class="descripcion">Samsung Galaxy S10</p>
                    </div>
                </div>
                    
            </article>

            <article class="product">
                <img src="/images/img-tv-samsung-smart.jpg" alt="">
                <div class="box-precios">
                <div class="product-desc-box">
                    <div class="product-delivery-icon">
                        <i class="fas fa-truck" style="color: #41ae4a"></i>
                    </div>
                    <p class="precios">$23.200</p>
                    <p  class="descuento">5% off</p>
                        <p class="descripcion">SmartTv Samsung 43"</p>
                    </div>
                </div>
                    
            </article>
            
        </div>
        
    </main>
        
            <footer>
              
                        <i class="fas fa-credit-card"></i><br>
                    <b>Pagá con tarjeta o en efectivo</b>
                        <p>Con Mercado Liebre Cash, tenés cuotas <br>
                            sin interés con tarjeta o efectivo en puntos de pago. <br>
                             ¡Y siempre es seguro! </p>
                <br>
                <i class="fas fa-gift"></i> <br>
                    <b>Envío gratis desde $ 2.500</b>
                        <p>Solo por estar registrad@ en MercadoLiebre <br>
                           tenés envíos gratis en miles de productos. Es <br>
                            un beneficio de Mercado Puntos.</p>
                <br>
                <i class="fas fa-user-shield"></i><br>
                    <b>Seguridad, de principio a fin</b>
                        <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre <br>
                           no hay nada que no puedas hacer porque <br>
                            estás siempre protegid@.</p>
                <br>
                     <small>Copyright © 1999-2020 MercadoLiebre S.R.L.</small>
                     
                    </footer>

        
</body>

</html>