<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Roboto&display=swap" rel="stylesheet">
    <title>Mercado Liebre</title>
</head>
<body>
    <header>
        <img src="/images/logo-mercado-liebre.svg" alt="Logo">
        <input type="search" placeholder="Buscar productos, marcas">
        <button><i class="fas fa-search"></i></button>
        <div>
            
            <p><i class="fas fa-hand-holding-dollar"></i>
                Comprar en cuotas y sin tarjeta de crédito</p>
        </div>
        <ul class="navcontenedor">
            <li><a href="">Ofertas</a></li>
            <li><a href="">Tiendas Oficiales</a></li>
            <li><a href="">Vender</a></li>
            <li><a href="">Ayuda</a></li>
        </ul> 
         
            <ul class="navcontenedor" >
                <li><a href="">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                <li><a href="">Ingresá <i class="fas fa-right-to-bracket"></i></a></li>
                <li><a href="">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
                
            </ul>
            <div class="contenedor">

                <div class="burger-menu">
                    <i class="fas fa-bars"></i>
                </div>
            </div>
            </header>
    
   
    <main> 
        <ul >
            <li>
                <b>Sección: Basado en tu última visita </b></li>
                <br/>
                
                <div class="articulo">
                <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera">
                <div class="box-precio">
                    <div class="product-delivery-icon">
                        <i class="fas fa-truck" style="color: #41ae4a; padding-top: 10px; padding-bottom: 1px;"></i>
                      </div> 
                <p class="precios">$6.770</p>
                 <p  class="product-desc-box">40% OFF</p>
                <p><strong class="descripcion">Cafetera Moulinex</strong></p>
                </div>
                 </div>

                 <div class="articulo">
                <img src="images/img-macbook-pro-2019.jpg" alt="macbook">
                <div class="box-precio">
                    <div class="product-delivery-icon">
                        <i class="fas fa-truck" style="color: #41ae4a; padding-top: 10px; padding-bottom: 1px;"></i>
                      </div> 
                <p class="precios">$230.000</p>
                <p class="product-desc-box" >20% off</p>
                <p><strong class="descripcion">MacBook Pro 2019</strong></p>
                 </div>
                

                 <div class="articulo">
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="">
                <div class="box-precio">
                    <div class="product-delivery-icon">
                        <i class="fas fa-truck" style="color: #41ae4a; padding-top: 10px; padding-bottom: 1px;"></i>
                      </div> 
                <p class="precios">$70.500</p>
                <p class="product-desc-box">10% off</p>
                <p><strong class="descripcion">Samsung Galaxy S10</strong></p>
                 </div>
                </div>

                <div class="articulo"> 
               <img src="/images/img-tv-samsung-smart.jpg" alt="">
               <div class="box-precio">
                   <div class="product-delivery-icon">
                      <i class="fas fa-truck" style="color: #41ae4a; padding-top: 10px; padding-bottom: 1px;"></i>
                    </div>  
                <p class="precios">$23.200</p>
                <p class="product-desc-box">5% off</p>
                <p><strong class="descripcion">SmartTv Samsung 43"</strong></p>
                </div>
                </div>
            </div>
        </ul>
    </main>
    <footer>
        <i class="fas fa-credit-card"></i><br>
    <b>Pagá con tarjeta o en efectivo</b>
        <p>Con Mercado Liebre Cash, tenés cuotas <br>
            sin interés con tarjeta o efectivo en puntos de pago. <br>
             ¡Y siempre es seguro! </p>
<br>
<i class="fas fa-gift"></i> <br>
    <b>Envío gratis desde $ 2.500</b>
        <p>Solo por estar registrad@ en MercadoLiebre <br>
           tenés envíos gratis en miles de productos. Es <br>
            un beneficio de Mercado Puntos.</p>
<br>
<i class="fas fa-user-shield"></i><br>
    <b>Seguridad, de principio a fin</b>
        <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre <br>
           no hay nada que no puedas hacer porque <br>
            estás siempre protegid@.</p>
<br>
     <small>Copyright © 1999-2020 MercadoLiebre S.R.L.</small>
    </footer>
</body>
</html>