<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/registro.css">
    <script src="https://kit.fontawesome.com/a104e5a0a9.js" crossorigin="anonymous"></script>
    <title>Mercado Liebre</title>
</head>

<body>
    
    <header class="main-header">
        


        <div class="main-header-top-bar">
           
            <a href="/"><img src="/images/logo-mercado-liebre.svg" class="logo"></a>
           <div class="searchbar">
               <input type="search" placeholder="Buscar productos, marcas">
               <button><i class="fas fa-search"></i></button>
           </div> 
           <h2 class="copy-header">
               <i class="fa-solid fa-hand-holding-dollar"></i>
               Compra en cuotas y sin tarjeta de crédito</h2>
        </div>
   
   
            
        <a href="#" class="hamburguer-button">
           <i class="fa-solid fa-bars"></i>
        </a>
   
        <div class="main-header-bottom-bar">
           <ul class="left-navbar">
               <li> <a href="#">Ofertas</a></li>
               <li> <a href="#">Tiendas Oficiales</a></li>
               <li> <a href="#">Vender</a></li>
               <li> <a href="#">Ayuda</a></li>
           </ul>
   
           <ul class="right-navbar">
               <li><a href="/register">Creá tu cuenta <i class="fa-regular fa-address-card"></i></a></li>
               <li><a href="/login">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
               <li><a href="">Mis Compras <i class="fa-solid fa-basket-shopping"></i></a></li>
           </ul>
       </div>
       </header>
        <div class="formulario-registro">
       <form action="POST">
        <label for="">Nombre y Apellido</label>
        <input type="text" placeholder="Nombre y Apellido">
        <label for="">Nombre de usuario</label>
        <input type="text" placeholder="Nombre de usuario">
        <label for="">Email</label>
        <input type="text" placeholder="Email">
        <label for="">Fecha de nacimiento</label>
        <input type="date" name="fechadenacimiento">
        <br>
        <label for=""><strong>Perfil de usuario</strong></label>
        <br>
        <label for="">Vendedor</label>
        <input type="radio" >
        <label for="">Comprador</label>
        <input type="radio">
        <br>
        <label for=""><strong>Interes:</strong></label>
        <br>
        <label for="">Electro</label>
        <input type="radio">
        <label for="">Moda</label>
        <input type="radio">
        <label for="">Hogar</label>
        <input type="radio">
        <label for="">Juguete</label>
        <input type="radio">
        <label for="">Vida sana</label>
        <input type="radio">
         <br>
        <label for="">Foto de usuario</label>
        <input type="file">

        <label for="">constraseña</label>
        <input type="password" placeholder="password">
        <label for="">confirmar contraseña</label>
        <input type="text" name="" id="" placeholder="repetir password">
         <br>
        <button>Enviar</button> <button>Borrar</button>
        
        </form>
    </div>
        <footer>
              
        <i class="fas fa-credit-card"></i><br>
    <b>Pagá con tarjeta o en efectivo</b>
        <p>Con Mercado Liebre Cash, tenés cuotas <br>
            sin interés con tarjeta o efectivo en puntos de pago. <br>
             ¡Y siempre es seguro! </p>
<br>
<i class="fas fa-gift"></i> <br>
    <b>Envío gratis desde $ 2.500</b>
        <p>Solo por estar registrad@ en MercadoLiebre <br>
           tenés envíos gratis en miles de productos. Es <br>
            un beneficio de Mercado Puntos.</p>
<br>
<i class="fas fa-user-shield"></i><br>
    <b>Seguridad, de principio a fin</b>
        <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre <br>
           no hay nada que no puedas hacer porque <br>
            estás siempre protegid@.</p>
<br>
     <small>Copyright © 1999-2020 MercadoLiebre S.R.L.</small>
     
    </footer>
    
</body>
</html>