*{
    box-sizing: border-box;
}

.login-form{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px black solid;
    height: 250px;
}

form{
    display: flex;
    flex-direction: column;
}
form button{
    background-color: blue;
    color: white;
}
@media (min-width: 760px){
  form input{width: 250px;}
}


@media (min-width: 1200px){
    form input{width: 250px;}
    

        
    }    