* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #EAC926;
    font-size: 12px;
}

.navcontenedor {
    display: none;
}

header img {
    width: 200px;
    height: auto;
}

.main {
    width: 90%;
    margin: auto;
}

.articulo {
 border: 5px black solid;
 width: 24vw; 
 margin: auto;  
 padding: 2px;
}


.articulo img {
    width: 100%;
    height: auto;
}

.articulo h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.articulo p {
    font-size: 16px;
    line-height: 1.5;
}

.descripcion {
    display: none;
    font-size: 18px; 
}

.box-precio {
    border: solid 1px #ebebeb;
    padding: 15px;
}

.precios {
    font-size: 18px;
    margin-bottom: 3px;
}

.articulo .box-precio > .product-delivery-icon {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    color: #39b54a; /* Agregué color para el ícono */
}
    

.product-desc-box {
   position: relative;
 
}


footer {
    padding: 10px;
    text-align: center;
    background-color: #ebebeb;
}

footer .fas {
    font-size: 2em;
    color: #03264C;
    margin-bottom: 10px;
}

footer b {
    color: #666;
    font-size: 14px;
}

.contenedor {
    display: flex;
    justify-content: center;
}

.burger-menu {
    background-color: #1259c3;
    color: white;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 361px) {
    /*tables*/
}

@media (min-width: 769px) {
    /*desktop*/
    .descripcion {
        display: block;
    }

    .navcontenedor {
        display: block;
    }

    .burger-menu {
        display: none;
    }
}
