* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}

main{
    background-color: rgb(196, 196, 196);
}

.contenedor-product{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    padding: 5px;
}

.product{
    background-color: white;
    max-width: 350px;
    border: 5px solid rgb(180, 180, 180);
    padding: 0 15px;
    position: relative;
    width: 75vw;
    margin-bottom: 50px;

}

.product img{
    width: 100%;
    padding-bottom: 15px;
}

.product:hover h2{
    opacity: 1;
    background-color: rgba(0,0,0,);
    border-radius: 50%;
}

.product h2{
    background-color:  rgba(255,0,0,0.5);
    color: white;
    margin: 0;
   
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 450ms;


}

.product-desc-box > .product-delivery-icon{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

.product-desc-box {
    position: relative;
    }
.box-precios p {
 margin: 20px;

}
    

.descuento{
    position: absolute;
    color: #39b54a ;
    left: 22%;
    bottom: 32%;
    font-size: 85%;
}    

@media (min-width: 760px){
    .contenedor-product{
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;

        
    }

    .product{
        width: 35%;
        
    
    }
    

}


@media (min-width: 1200px){


    .contenedor-product{
        width: 95%;
        margin: auto;
        
    }

    .product{
        width: 15%;
        min-width: 257px;
        min-height: 373px;
        justify-content: flex-start;
   
    
    }
   
    .descuento{
        left: 27%;
        
    }    


}

